{% extends "base.html" %}

{% block content %}

{% for message in get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
    Hey {{username}}, Your {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endfor %}

<h2>Add User:</h2>
<form action="" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label(
        class="form-label"
        ) }}<br>
        {{ form.username(
        class="form-control") }}
    </p>
    <p>
        {{ form.email.label(
        class="form-label"
        ) }}<br>
        {{ form.email(
        class="form-control") }}
    </p>
    <p>
        {{ form.fav_color.label(
        class="form-label"
        ) }}<br>
        {{ form.fav_color(
        class="form-control") }}
    </p>
    <p>
        {{ form.password_hash.label(
        class="form-label"
        ) }}<br>
        {{ form.password_hash(
        class="form-control") }}
    </p>
    <p>
        {{ form.password_hash2.label(
        class="form-label"
        ) }}<br>
        {{ form.password_hash2(
        class="form-control") }}
    </p>
    <p>
        {{ form.submit(
        class="btn btn-secondary"
        ) }}
    </p>
</form>

{% endblock %}