{% extends "base.html" %}

{% block content %}

<h2>Blog Posts!</h2>
<br /><br>
<div class="posts">
   {% for my_post in my_posts %}
   <div class="post">
      <h3>
         <a href=" {{ url_for('view_post', id = my_post.id) }}">
            {{ my_post.title }}
         </a> </br>
      </h3>
      - by {{ my_post.users.username }} </br>
      -{{ my_post.slug }} </br>
      -Posted On {{ my_post.date_posted }} </br>
      <a href=" {{ url_for('update_post', id = my_post.id) }}" class="btn btn-secondary mt-3">
         Edit Post
      </a>
      <a href=" {{ url_for('delete_post', id = my_post.id) }}" class="btn btn-danger mt-3">
         Delete
      </a>
   </div>
   <br>
   {% endfor %}
</div>

{% endblock %}